{% load static %}
<!doctype html>
<html lang="pl">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	
	<link rel="stylesheet", type="text/css" href="{% static 'carRental/style.css' %}">
	
	{% if title %}
		<title>carRental - {{title}}</title>	
	{% else %}
		<title>carRental</title>	
	{% endif %}

  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <!--<span class="navbar-brand" href="#">CarRental</span>-->
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			  <li class="nav-item active">
				<a class="nav-link" href="{% url 'carRental-home' %}">Strona główna <span class="sr-only">(current)</span></a>
			  </li>
				  {% if user.is_authenticated %}
				  	  <li class="nav-item">
						<a class="nav-link" href="{% url 'profile' %}">Profil</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="{% url 'logout' %}">Wyloguj</a>
					  </li>
				  {% else %}
					  <li class="nav-item">
						<a class="nav-link" href="{% url 'login' %}">Logowanie</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="{% url 'register' %}">Rejestracja</a>
					  </li>
				  {% endif %}
		  </ul>
	  </div>
  </nav>

	<div id="main" class="container">
		
		<div class="row justify-content-md-center">
			<div class="col">
				{% if messages %}
					{% for message in messages %}
						<div class="alert alert-{{message.tags}}">
							{{ message }}
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<div class="row justify-content-md-center">
			<div class="col-md-10">
				{% block content %}
					
					
					# MAIN BLOCK
					
					
				{% endblock content %}
			</div>
		</div>
	</div>
	

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>